* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: hsl(0, 0%, 97%);
  font-family: "Poppins";
  font-size: 18px;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
  background-color: #fff;

  img {
    width: 6rem;
    margin-right: 1rem;
  }

  nav {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }

  .menu,
  .autentication {
    a:hover {
      color: black;
    }
  }
  #signUp {
    margin-left: 1rem;
    color: #fff;
    background-color: hsl(180, 86%, 66%);
    border-radius: 1rem;
    padding: 0.5rem 0.8rem;
  }

  ul {
    display: flex;
  }
  li {
    list-style: none;
  }
  a {
    padding: 0.4rem;
    color: hsl(0, 0%, 75%);
    cursor: pointer;
    font-size: 0.9rem;
  }
}

main {
  margin: 0 auto;
  display: flex;
  width: 80%;
  justify-content: space-between;
  background-color: #fff;
  height: 20rem;
  margin: 3rem auto;

  .conteudo {
    width: 50%;
  }
  .img {
    margin-right: -15rem;
    width: 50%;
    height: 100%;
  }
  h1 {
    font-size: 3.2rem;
  }
  h3 {
    color: hsl(0, 0%, 75%);
    font-size: 1rem;
  }
  .btn-started {
    color: #fff;
    background-color: hsl(180, 86%, 66%);
    border-radius: 1.2rem;
    margin-top: 2rem;
    padding: 0.8rem 1.2rem;
    cursor: pointer;
    border: 0;
    font-size: 1rem;
    font-weight: bold;
  }

  img {
    width: 20rem;
    height: 20rem;
    margin-right: -5rem;
    overflow: hidden;
  }
}

.div-input {
  width: 80%;
  height: 7rem;
  background-image: url("./images/bg-shorten-desktop.svg");
  background-size: 100% 100%;
  background-color: hsl(257, 27%, 26%);
  margin: 0 auto;
  padding: 2rem;
  border-radius: 0.4rem;
  margin-top: -3.8rem;
  margin-bottom: 3rem;

  form {
    width: 100%;

    input {
      width: 80%;
      height: 3rem;
      border-radius: 0.3rem;
      border: 0;
      padding-left: 1rem;
      margin-right: 1rem;
    }

    button {
      height: 3rem;
      color: #fff;
      background-color: hsl(180, 86%, 66%);
      border: 0;
      border-radius: 0.3rem;
      padding: 0 1.5rem;
      cursor: pointer;
    }
  }
}

.background-white {
  background-color: #fff;
  padding-bottom: 8rem;
}

.statistics-div {
  width: 80%;
  margin: 0 auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.content {
  width: 60%;
  margin-bottom: 3rem;

  h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  p {
    color: hsl(0, 0%, 75%);
    text-align: center;
    font-size: 0.9rem;
  }
}

.boxs-statistics {
  display: flex;
  width: 100%;

  margin-top: 3rem;
  gap: 1rem;

  .img-statistics {
    background-color: hsl(257, 27%, 26%);
    clip-path: circle();
    margin-left: 1rem;
    margin-top: -1.8rem;
    width: 3.5rem;
    height: 3.5rem;
    padding: 0.7rem;
    display: block;
  }

  .statistics-box-1,
  .statistics-box-2,
  .statistics-box-3 {
    border-radius: 0.5rem;
    h3 {
      font-size: 1rem;
      margin: 1rem 0 1rem 1rem;
    }
    p {
      font-size: 0.9rem;
      color: hsl(0, 0%, 75%);
      margin: 1rem 0 1rem 1rem;
    }
  }

  .statistics-box-1 {
    background-color: #fff;
  }
  .statistics-box-2 {
    background-color: #fff;
    margin-top: 2rem;
  }
  .statistics-box-3 {
    background-color: #fff;
    margin-top: 4rem;
  }
}

.boost-div {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(257, 27%, 26%);
  background-image: url("./images/bg-boost-desktop.svg");
  background-size: 100%;

  h2 {
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 1rem;
  }

  button {
    height: 2.2rem;
    color: #fff;
    background-color: hsl(180, 86%, 66%);
    border: 0;
    border-radius: 1rem;
    padding: 0 1rem;
    cursor: pointer;
  }
}

footer {
  background-color: rgb(15, 12, 12);
  display: flex;
  justify-content: space-around;
  padding-top: 3rem;
  padding-bottom: 3rem;

  .logo{
    img{
      fill: #fff;
    }
  }
  

  .div-menu-footer {
    display: flex;
    justify-content: space-around;
    color: #fff;
    gap: 3rem;

    .menu-footer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      p{
        font-size: 0.9rem;
        margin-bottom: 1rem;
      }

      nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        a{
          text-decoration: none;
          color: hsl(0, 0%, 75%);
          font-size: 0.7rem;
          padding: 0.5rem 0;
        }
      }
    }
  }

  .midias{
    img{
      width: 1rem;
      height: 1rem;
      margin-right: 0.3rem;
    }
  }
}
